.card {
  display: flex;
  margin: 30px;
  min-height: 30rem;
  width: 40%;
  flex-direction: column;
}

.render-chat {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  overflow:auto
}

form {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  /* margin-bottom: 40px; */
  width: 25%;
}
.message-field{
  width: 100%;

}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}



span {
  color: black;
}
/* h3{
  color: blue;
} */
.rowInput{
  display: flex;
  flex-direction: row;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}