.courseHeading{
    color: #0065E0 !important;
    font-size:50px !important;
}

.btncourse{
    display:flex !important;
    justify-content: space-between !important;
    margin-bottom: 50px !important;
}
.btncourse2{
    padding: 50px !important;
    display:flex !important;
    justify-content:center !important;
    
  margin-bottom: 50px !important;
  
}